@background-color: #121217;
@background-color-lighter: #17171d;
@secondary-font-color: #585961;
@link-color: #6bf;

// Defaults

* {
  margin: 0;
}

html {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif !important;
  font-size: 106.25%;
}

body {
  background: @background-color;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.47059;
  font-style: normal;
  letter-spacing: -0.022em;
  text-align: left;
}

h1 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h2 {
  color: @secondary-font-color;
  font-size: 37px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.007em;
}

h3 {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.0625;
  letter-spacing: -0.009em;
  margin-bottom: 24px;
}

p {
  color: @secondary-font-color;
}

a {
  color: @link-color;
  text-decoration: none;
  margin: 0 10px;

  &:hover {
    color: @link-color;
    text-decoration: underline;
  }
}

// Seciton mixin
.section {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.inner-section {
  width: 83.33333%;
  margin-left: auto;
  margin-right: auto;
}

// Nav

nav {
  background: @background-color-lighter;
  height: 55px;

  div {
    .section;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-top: 5px;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li a {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;

        &:hover {
          text-decoration: none;
        }
      }

      li span {
        cursor: default;
        margin: 0 10px;
        font-size: 13px;
        font-weight: 600;
        color: @secondary-font-color;
      }

      #download {
        background: @link-color;
        padding: 7.5px 12px;
        border-radius: 20px;
        background: rgb(52, 88, 255);
        background: linear-gradient(
          0deg,
          rgba(52, 88, 255, 1) 29%,
          rgba(52, 116, 255, 1) 100%
        );

        &:hover {
          color: #fff;
          background: rgb(52, 88, 255);
          background: linear-gradient(
            0deg,
            rgb(85, 115, 253) 29%,
            rgb(93, 145, 255) 100%
          );
        }
      }
    }
  }
}

// Site header

header {
  .section;
  margin-top: 250px;

  div {
    .inner-section;
    p {
      font-size: 21px;
      line-height: 1.38105;
      font-weight: 400;
      letter-spacing: 0.011em;
    }

    div {
      margin: 15px 0;

      a {
        font-size: 21px;
        margin-left: 0;
        margin-right: 45px;
      }
    }

    .arrow {
      &::after {
        content: " >";
      }
    }
  }
}

img.logo {
  width: 200px;
}

// Media Queries

@media (max-width: 800px) {
  nav {
    div {
      justify-content: none;
    }

    h1 {
      padding-left: 19px;
    }

    div {
      ul {
        padding-inline-start: 0px;
      }
    }
  }
}

@media (max-width: 450px) {
  body {
    max-width: 450px;
  }

  h2 {
    color: @secondary-font-color;
    font-size: 21px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.007em;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0625;
    letter-spacing: -0.009em;
    margin-bottom: 20px;
  }

  .section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  nav {
    height: 90px;

    div {
      .section;
      display: grid;
      grid-template-columns: 1fr;
    }

    ul {
      margin: 0 auto;
      #download {
        display: none;
      }
    }
  }

  header {
    .section;
    margin-top: 75px;

    div {
      .inner-section;
      p {
        font-size: 19px;
        line-height: 1.38105;
        font-weight: 400;
        letter-spacing: 0.011em;
      }

      .download {
        display: none;
      }
    }
  }
}
